adium-theme-ubuntu==0.3.4
beautifulsoup4==4.4.1
ccsm==0.9.12.2
chardet==2.3.0
compizconfig-python==0.9.12.2
duplicity==0.7.6
ecdsa==0.13
gyp==0.1
html5lib==0.999
lockfile==0.12.2
lxml==3.5.0
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
numpy==1.11.0
paramiko==1.16.0
pexpect==4.0.1
ptyprocess==0.5
pycrypto==2.6.1
pygobject==3.20.0
pyodbc==3.0.7
pysqlite==2.7.0
six==1.10.0
unity-lens-photos==1.0
